.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-top: 96px;
  margin-bottom: 250px;

  h1 {
    margin-bottom: 16px;
    font-size: 33px;
    font-weight: 500;
  }

  &__date {
    margin-bottom: 39px;
    font-size: 16px;
    color: #000;

    span {
      color: #707070;
    }
  }

  &__preview {
    width: 100%;
    margin-bottom: 64px;

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    max-width: 80%;
    color: #000;

    p {
      margin-bottom: 22px;
      font-size: 16px;
    }

    img {
      margin-bottom: 48px;
    }

    h5 {
      margin-bottom: 24px;
      font-size: 26px;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        font-size: 16px;
      }

      li:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 95px;
  }

  &__column {
    display: flex;
    align-items: center;
  }

  &__bottom-title {
    padding-right: 80px;
    font-size: 16px;
    color: #000;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      right: 8px;

      width: 64px;
      height: 1px;
      margin-top: auto;
      margin-bottom: auto;
      background: #000;
    }
  }

  &__bottom-text {
    font-size: 16px;
    color: #707070;
  }

  &__column img {
    margin-bottom: 0;
  }
}