.price-range-slider {
  width: 300px;
  margin: 20px;
}

.slider {
  width: 100%;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.range-values span {
  font-size: 14px;
}

.range-tumb {
  width: 4px;
  height: 10px;
  background: #000;
  margin-top: -4px;
}

.range-track {
  height: 2px;
  background: #D8D8D8;
}

.range-track-1 {
  background: #000;
}